/*
 * CSS DE LES ALERTES
 */

.root {
    -fx-font: 14px "Tahoma";
    -fx-font-family: "Tahoma", Arial, sans-serif;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 14px;
}

 .dialog-pane{
  -fx-border-color: #03A9F4;
  -fx-border-width: 1px;
 }

.dialog-pane > .button-bar > .container {
}

.dialog-pane > .content.label {
}

.dialog-pane:header .header-panel {
    -fx-display: none;
}

.dialog-pane:header .header-panel .label{
}

.dialog-pane .button{
    -fx-background-color: #03A9F4;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
    -fx-font-size: 14px;    
    -fx-accent: #03A9F4;
    -fx-pref-width: 90;
 }

.dialog-pane .button:hover{     
 }