/*
 * CSS PER TROBAR ELEMENTS
 */

.buscador, .buscador HBox {
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.buscador HBox {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.buscador > VBox {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-spacing: 10;
    -fx-alignment: TOP_LEFT;
}



