/*
 * CSS DE L'EDICIO O VISTA D'USUARI O LLIBRE
 */

.mainFxmlClass {
    -fx-padding: 0.0em 1.333332em 1.333332em 1.333332em;
}

.mainFxmlClass > VBox {
    -fx-padding: 0.999999em 0.0em 0.0em 0.0em;
}

.mainFxmlClass > HBox {
     -fx-padding: 0.999999em 0.0em 0.0em 0.0em;
     -fx-spacing: 20;
}

.mainFxmlClass > HBox > VBox {
     -fx-padding: 0.0em 0.0em 0.0em 0.0em;
     -fx-spacing: 20;
}

.mainFxmlClass > HBox > VBox > HBox {
     -fx-padding: 0.0em 0.0em 0.0em 0.0em;
     -fx-spacing: 20;
}

.mainFxmlClass > HBox > VBox > VBox {
     -fx-padding: 0.0em 0.0em 0.0em 0.0em;
     -fx-spacing: 10;
}

.label{
    -fx-padding: 0.0em 0.0em 0.333333em 0.0em;
}

.mainFxmlClass > VBox > .label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.mainFxmlClass > VBox > HBox {
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;
    -fx-spacing: 40;
    -fx-padding: 0.999999em 0.0em 0.0em 0.0em;
}

.mainFxmlClass > VBox > HBox > VBox {
    -fx-spacing: 10;
}

.negrita {
    -fx-font-weight: bold;
}

.mainFxmlClass > VBox > HBox > VBox > HBox{
    -fx-spacing: 40;
}

.choice-box { 
    -fx-pref-width: 150;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.choice-box > .label { 
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}

.choice-box .context-menu { 
    -fx-pref-width: 200;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.choice-box .menu-item > .label { 
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}

.usuariImage {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;
}

.caratulaLlibre {
    /*-fx-border-width: 2px 2px 2px 2px;*/
    /*-fx-border-color: #03A9F4;*/
    /*-fx-border-radius: 0px;*/
}

.hboxBotones {
    -fx-padding: 1.666666em 0.0em 0.0em 1.333333em;
    -fx-alignment: CENTER;
    -fx-spacing: 40;
}

HBox {
    -fx-alignment: CENTER_LEFT;
}

.titolLlibre {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.autorLlibre {
    -fx-font-weight: bold; 
    -fx-font-style: italic;
}

.valoracioLlibre, .votsLlibre {
    -fx-alignment: CENTER;
}

.hBoxDescripcio {
    -fx-pref-width: 50;
}

.hBoxResultat {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0.666666em 0.666666em 0.666666em 0.666666em;
    -fx-spacing: 0.5em;
}
