/*
 * CSS DE LA PANTALLA DE LOGIN
 */

.mainFxmlClass > AnchorPane {
    -fx-background-color: #FFFFFF80;
}

.imatge_login {
    -fx-fit-to-width: 560;
    -fx-fit-to-height: 420;
}

VBox {
    -fx-alignment: CENTER;
}

.mainFxmlClass > AnchorPane > VBox {
    -fx-spacing: 10;
}

.toggle-button {
    -fx-font-size: 12px;
}