/*
 * CSS PER COMPROVAR PASSWORD
 */

.password {
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.password > VBox {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}



