/*
 * CSS DE L'EDICIO D'USUARI
 */

.mainFxmlClass > VBox {
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
}

.label{
    -fx-padding: 0.999999em 0.0em 0.333333em 0.0em;
}

.mainFxmlClass > VBox > VBox > .label {
    -fx-font-weight: bold;
}

.mainFxmlClass > VBox > VBox > HBox {
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;
    -fx-spacing: 40;
}

.mainFxmlClass > VBox > VBox > HBox > VBox > HBox {
    -fx-spacing: 40;
}

.choice-box { 
    -fx-pref-width: 200;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.choice-box > .label { 
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}

.choice-box .context-menu { 
    -fx-pref-width: 200;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.choice-box .menu-item > .label { 
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}

.usuariImage {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;
}

.hboxBotones {
    -fx-padding: 1.666666em 0.0em 0.0em 1.333333em;
    -fx-alignment: CENTER;
    -fx-spacing: 40;
}
