/*
 * Empty Stylesheet file.
 */

* {
    /*-fx-font: "Tahoma", Arial, sans-serif;*/
    -fx-font-family: "Tahoma", Arial, sans-serif;
}

.mainFxmlClass {
}

.vBoxGeneral {
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
}

.vBoxGeneral .label{
    -fx-padding: 0.999999em 0em 0.333333em 0em;
}

.titolSeccio {
    -fx-padding: 0.999999em 0em 0.333333em 0em;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#titolSeccioPrincipal{
    -fx-padding: 0em 0em 0.333333em 0em;
    -fx-font-size: 14px;
    -fx-font-weight: bold;    
}
.hboxSeccion {
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;

}

.choice-box { 
    /*-fx-background-color: black; */
    -fx-padding: 0em 0em 0em 0em;
}

.choice-box > .label { 
    /*-fx-background-color: black; */
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
}
/* Background color of the whole context menu*/
.choice-box .context-menu { 
    /*-fx-background-color: black; */
    -fx-pref-width: 200;
    -fx-padding: 0em 0em 0em 0em;
}
/* Focused item background color in the list*/
.choice-box .menu-item:focused { 
    /*-fx-background-color: orange; */
}
/* Text color of non-focused items in the list*/
.choice-box .menu-item > .label { 
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
    /*-fx-text-fill: white; */
}
/* Text color of focused item in the list*/
.choice-box .menu-item:focused > .label { 
    /*fx-text-fill: black; */
}

.usuariImage {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #03A9F4;
    -fx-border-radius: 0px;
}

.hboxBotones {
    -fx-padding: 1.333333em 0 0 0;
}

.hboxBotones .button {
    -fx-background-color: #03A9F4;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em;
    -fx-font-size: 14px;    
    -fx-accent: #03A9F4;
    -fx-pref-width: 90;
}

.menuTop {
    -fx-padding: 1em 1em 1em 1em;
}

.menuButton {    
    -fx-graphic: url(../resources/menu_iconldpi.png);
    /*-fx-graphic-fit-to-height: 10;*/
    /*-fx-graphic-size: 10;*/
    -fx-graphic-text-gap: 4;
    -fx-content-display: top;
    
    -fx-background-color: #03A9F4;
    -fx-cursor: hand;
    -fx-padding: 0.5em 1.332em 0.5em 1.332em;
    -fx-font-size: 14px;    
    -fx-accent: #03A9F4;
    /*-fx-accent-text-fill: red;*/
    /*-fx-focus-color: red;*/
}

.menuButton .label{
    -fx-text-fill: #ffffff;
}

.menuButton .menu-item {
    -fx-text-fill: #ffffff;
} 

.menuButton .menu-item .label {
    -fx-text-fill: #000000;
}

.menuButton .menu-item:focused  .label {
    -fx-text-fill: #ffffff;
}

.arrow-button > .arrow {
    -fx-background-color: #ffffff;
}

.butoUsuari {
    -fx-graphic: url(../resources/usuari_iconldpi.png);
    /*-fx-graphic-fit-to-height: 10;*/
    /*-fx-graphic-size: 10;*/
    -fx-graphic-text-gap: 4;
    -fx-content-display: top;
    
    -fx-background-color: #03A9F4;
    -fx-cursor: hand;
    -fx-padding: 0.5em 1.332em 0.5em 1.332em;
    -fx-font-size: 14px;    
    -fx-accent: #03A9F4;
    -fx-text-fill: #ffffff;
    
    /*-fx-background-image: url(../resources/tanca_sessio_iconmdpi.png);*/
    /*-fx-background-size: 30px;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: 90%;*/
    /*-fx-graphic: url(../resources/nouser.jpg);*/
}


